{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.pinkgorilla/webly {:mvn/version "0.7.703"}
        org.pinkgorilla/goldly {:mvn/version "0.7.683"}
        org.pinkgorilla/pinkie {:mvn/version "0.5.232"}
        org.pinkgorilla/modular {:mvn/version "0.2.61"}
        org.pinkgorilla/clj-service {:mvn/version "0.3.20"}
        org.pinkgorilla/oauth2 {:mvn/version "0.2.29"} ; oauth2 needs to be in docs, because of login-dialogs. rest can be loaded dynamically.
        org.pinkgorilla/re-flow {:mvn/version "0.1.7"}
        ;; dev tools/testing
        org.pinkgorilla/reval {:mvn/version "0.7.165"} ; currently also in goldly.
        ;org.pinkgorilla/devtools {:mvn/version "0.0.18"}
        ;org.pinkgorilla/ui-binaryclock {:mvn/version "0.2.20"} ; binaryclock is useful for testing. 
        ;; "ui design in general"
        org.pinkgorilla/ui-repl {:mvn/version "0.1.110"} ; reagent, format, page-nav,...
        
        ;; todo: change ui-repl to ui-tools 
        ;; and move stuff form ui-input here, and from pinkie.
        
        org.pinkgorilla/ui-tailwind {:mvn/version "0.1.8"}
        org.pinkgorilla/ui-fonts {:mvn/version "0.2.5"}
        org.pinkgorilla/ui-site {:mvn/version "0.0.31"} ; menu
        org.pinkgorilla/ui-input {:mvn/version "0.2.62"} ; react-spaces rnd ... ui-layout is better name.
        ;; "code-editor/viewer"
        org.pinkgorilla/ui-codemirror {:mvn/version "0.1.48"}
        org.pinkgorilla/ui-highlightjs {:mvn/version "0.1.19"}
        ;; "tables"
        org.pinkgorilla/ui-pprint-frisk {:mvn/version "0.6.565"} ; this is only frisk
        ;org.pinkgorilla/ui-reacttable {:mvn/version "0.0.6"} ; pinkie problem
        org.pinkgorilla/reagent-table {:mvn/version "0.3.71"} ; ag-grid, cheetah-grid, highcharts and tml-ds-cljs
        io.github.clojure-quant/techml-dataset-cljs {:mvn/version "0.1.15"} ; tmlds transit encoding
        org.pinkgorilla/options {:mvn/version "0.0.12"}
        ; "charts"
        org.pinkgorilla/ui-vega {:mvn/version "0.3.221"}
        org.pinkgorilla/ui-cytoscape {:mvn/version "0.1.10"}
        org.pinkgorilla/ui-leaflet {:mvn/version "0.1.23"}
        org.pinkgorilla/ui-echarts {:mvn/version "0.1.7"}
        org.pinkgorilla/ui-sparklines {:mvn/version "0.2.7"}
        org.pinkgorilla/ui-video {:mvn/version "0.2.10"} ; react-player clojure-compiler issue, youtube-player ok

        ;org.pinkgorilla/ui-math {:mvn/version "0.0.7"}
        ; non lazy deps
        ;org.pinkgorilla/ui-quil  {:mvn/version "0.1.7"} ; not bundeled (too big)

        ; run by default in docs-services
        nrepl/nrepl {:mvn/version "1.2.0"}
        cider/cider-nrepl {:mvn/version "0.49.1"}}

 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}
                 io.github.seancorfield/build-clj {:git/tag "v0.5.4" :git/sha "bc9c0cc"}}
          :ns-default build
          :jvm-opts ["-Dmaven.wagon.rto=90000"]}

; demo ui
  :webly {:exec-fn webly.app.app/webly-build
          :exec-args {:config ["docs/docs-config.edn"]
                      :profile "npm-install"}}

  :npm-install {:exec-args {:profile "npm-install"}}
  :compile {:exec-args {:profile "compile"}}
  :release {:exec-args {:profile "release"}}
  :release-adv {:exec-args {:profile "release-adv"}}
  :static {:exec-args {:profile "static"}}
  :ci {:exec-args {:profile "ci"}}

  :run {:exec-fn modular.system/start!
        :exec-args {:profile "jetty"
                    :config  ["docs/docs-config.edn"]
                    :services "docs/docs-services.edn"}}

  :viewer {:extra-paths ["static"]}

  :nbeval {:exec-fn modular.system/start!
           :exec-args {:run reval.task/eval-all-collections
                       :config  ["docs/docs-config.edn"]
                       :services "docs/task-services.edn"}}
  :nblist {:exec-fn modular.system/start!
           :exec-args {:run reval.task/print-all-collections
                       :config  ["docs/docs-config.edn"]
                       :services "docs/task-services.edn"}}
  
  ;; debugging
  
  :show-public {:exec-fn public-res/show-public
                :extra-paths ["dev"]}
  
  }}
